<?xml version="1.0" ?> <plugin id="com.mirasense.scanditsdk.plugin" version="4.0.0" xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">    

        <name>ScanditBarcodeScanner</name>    

        <platform name="ios">      
		      <plugins-plist key="ScanditSDK" string="ScanditSDK"/>      
              <!-- feature tag in config.xml -->      
              <config-file parent="/widget" target="config.xml">        
                    <feature name="ScanditSDK">          
                          <param name="ios-package" value="ScanditSDK"/>          
                    </feature>        
              </config-file>      

              <!-- Resource Bundle for Scandit SDK -->
              <resource-file src="src/ios/scanditsdk-community-ios_4.0.0/ScanditSDK/ScanditBarcodeScanner.framework/Resources/ScanditBarcodeScanner.bundle"/>
              
              <!-- Scandit SDK Cordova Plugin Source for iOS -->
              <header-file src="src/ios/ScanditSDK.h"/>
              <source-file src="src/ios/ScanditSDK.mm"/>
              <header-file src="src/ios/ScanditSDKRotatingBarcodePicker.h"/>
              <source-file src="src/ios/ScanditSDKRotatingBarcodePicker.m"/>
              <header-file src="src/ios/ScanditSDKParameterParser.h"/>
              <source-file src="src/ios/ScanditSDKParameterParser.m"/>
              <header-file src="src/ios/ScanditSDKSearchBar.h"/>
              <source-file src="src/ios/ScanditSDKSearchBar.m"/>

              
              <!-- Frameworks needed by Scandit SDK for iOS -->
              <framework src="src/ios/scanditsdk-community-ios_4.0.0/ScanditSDK/ScanditBarcodeScanner.framework" custom="true"/>
              <framework src="OpenGLES.framework"/>
              <framework src="AudioToolbox.framework"/>
              <framework src="AVFoundation.framework"/>      
              <framework src="CoreGraphics.framework"/>      
              <framework src="CoreLocation.framework"/>      
              <framework src="CoreMedia.framework"/>      
              <framework src="CoreVideo.framework"/>      
              <framework src="QuartzCore.framework"/>      
              <framework src="OpenGLES.framework"/>      
              <framework src="SystemConfiguration.framework"/>      
              <framework src="libiconv.dylib"/>      
              <framework src="libz.dylib"/>      
              <framework src="libc++.dylib"/>      
        </platform>    

      
   <platform name="android">      
              <!-- register plugin -->      
              <config-file parent="/widget" target="res/xml/config.xml">        
                    <feature name="ScanditSDK">          
                          <param name="android-package" value="com.mirasense.scanditsdk.plugin.ScanditSDK"/>          
                    </feature>        
              </config-file>      
              <!-- add permissions in AndroidManifest.xml file-->      
              <config-file parent="/manifest" target="AndroidManifest.xml">        
                    <uses-permission android:name="android.permission.CAMERA"/>        
                    <uses-permission android:name="android.permission.VIBRATE"/>        
                    <uses-permission android:name="android.permission.INTERNET"/>        
              </config-file>      
              <!-- add ScanditSDK Activity to the "application" section of AndroidManifest.xml file -->      
              <config-file parent="/manifest/application" target="AndroidManifest.xml">        
                    <activity android:name="com.mirasense.scanditsdk.plugin.ScanditSDKActivity"/>        
              </config-file>      
          <!-- copy Scandit SDK libs -->      
          <source-file src="src/android/scanditsdk-community-android_4.0.0/libs/scanditsdk-android-4.0.0.jar" target-dir="libs"/>
          <source-file src="src/android/scanditsdk-community-android_4.0.0/libs/armeabi/libscanditsdk-android-4.0.0.so" target-dir="libs/armeabi"/>
          <source-file src="src/android/scanditsdk-community-android_4.0.0/libs/armeabi-v7a/libscanditsdk-android-4.0.0.so" target-dir="libs/armeabi-v7a"/>
          <source-file src="src/android/scanditsdk-community-android_4.0.0/libs/x86/libscanditsdk-android-4.0.0.so" target-dir="libs/x86"/>
          <!-- copy Scandit SDK resources (images, beep) -->      
          <source-file src="src/android/scanditsdk-community-android_4.0.0/res/raw/beep.wav" target-dir="res/raw"/>      
          <source-file src="src/android/scanditsdk-community-android_4.0.0/res/raw/poweredby2x.png" target-dir="res/raw"/>      
          <source-file src="src/android/scanditsdk-community-android_4.0.0/res/raw/ic_btn_search.png" target-dir="res/raw"/>      
          <source-file src="src/android/scanditsdk-community-android_4.0.0/res/raw/flashlight_turn_off_icon.png" target-dir="res/raw"/>      
          <source-file src="src/android/scanditsdk-community-android_4.0.0/res/raw/flashlight_turn_on_icon.png" target-dir="res/raw"/>      
          <!-- add plugin source code -->      
          <source-file src="src/android/com/mirasense/scanditsdk/plugin/ScanditSDK.java" target-dir="src/com/mirasense/scanditsdk/plugin"/>      
          <source-file src="src/android/com/mirasense/scanditsdk/plugin/ScanditSDKActivity.java" target-dir="src/com/mirasense/scanditsdk/plugin"/>      
          <source-file src="src/android/com/mirasense/scanditsdk/plugin/ScanditSDKResultRelay.java" target-dir="src/com/mirasense/scanditsdk/plugin"/>
          <source-file src="src/android/com/mirasense/scanditsdk/plugin/ScanditSDKParameterParser.java" target-dir="src/com/mirasense/scanditsdk/plugin"/>

      </platform> </plugin>